<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="db">
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=day05</property>
		<!-- 打印sql语句-->
		<property name="show_sql">true</property>
		<!--格式化sql -->
		<property name="format_sql">true</property>
		<!-- 是否自动生成表结构的策略
			update   如果当前不存在表结构,自动生成表结构.如果存在表结构,并且表结构与实体一致,那么不做修改,如果不一致,那么会修改表结构,会保留原有列
			create   无论是否存在表结构,每次启动都会重新创建表结构(数据会丢失)
			create-drop 无论是否存在表结构,每次启动都会重新创建表结构(数据会丢失),hibernate运行结束时删除表结构
			validate(很少) 不会自动创建表结构,也不会更新.只校验表结构
		-->
		<property name="hbm2ddl.auto">update</property>
		<!-- 事务自动提交-->
		<property name="hibernate.connection.autocommit">true</property>
		<!--将session与线程绑定=>只有配置了改配置,才能使用getCurrentSession -->
		<property name="hibernate.current_session_context_class">thread</property>
		<!--数据库方言配置 -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<!-- 引入ORM映射文件,src后面的文件路径-->
		<mapping resource="com/alibaba/demo/User.hbm.xml"/>
	</session-factory>
</hibernate-configuration>